<div class="logo">
    <img class="logo-img" alt="logo" src="logo.svg" />
</div>
 
<ul class="side-navigation">
    <li class="side-navigation-item" [routerLink]="['/main']" [routerLinkActive]="['selected']" title="Main">
        <a class="side-navigation-item-link">
            <i class="material-icons">search</i>
          </a>
      </li>
    <li class="side-navigation-item" [routerLink]="['/tests']" [routerLinkActive]="['selected']" title="Tests">
        <a class="side-navigation-item-link"><i class="material-icons">assignment</i> </a>
      </li>
</ul>