.card {
  padding: 30px;
  margin: 10px;
  border: 1px solid black;
}
.card__name {
  background-color: rgb(245, 253, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.person {
  display: flex;
}
.main__part {
  padding: 20px;
}
