<app-card [CardMsg]="messageForCard" (likeEv)="recieve($event)"></app-card>

<app-card [message]="message" (notify)="handleEvent($event)"></app-card>

<label for="example-uppercase">Name:</label>
<input
  [(ngModel)]="name"
  (ngModelChange)="setUppercaseName($event)"
  id="example-uppercase"
/>
<p>{{ name }}</p>

<div *ngFor="let item of items">{{ item }}</div>

<h1>My First Attribute Directive</h1>
<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>
<p [appHighlight]="color" defaultColor="violet">Highlight me!</p>
